**Question 1**

In [1]:
import pandas as pd
pd.__version__

'1.1.4'

**Question 2**

In [2]:
import numpy as np

In [3]:
arr = np.array([1,2,4,5,6,7,8])

In [4]:
pd_series = pd.Series(arr)
pd_series

0    1
1    2
2    4
3    5
4    6
5    7
6    8
dtype: int64

**Question 3**

In [5]:
ix_of_series = pd_series.index
ix_of_series

RangeIndex(start=0, stop=7, step=1)

In [6]:
df = pd.DataFrame(ix_of_series, columns=['index_of_series'])
df

   index_of_series
0                0
1                1
2                2
3                3
4                4
5                5
6                6

**Question 4**

In [7]:
import seaborn as sns

In [8]:
# Code to get all the datasets in seaborn library
sns.get_dataset_names()

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'exercise',
 'flights',
 'fmri',
 'gammas',
 'geyser',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'tips',
 'titanic']

In [9]:
mpg_data = sns.load_dataset('mpg')

**Question 5**

In [10]:
mpg_data.head()

    mpg  cylinders  displacement  ...  model_year  origin                       name
0  18.0          8         307.0  ...          70     usa  chevrolet chevelle malibu
1  15.0          8         350.0  ...          70     usa          buick skylark 320
2  18.0          8         318.0  ...          70     usa         plymouth satellite
3  16.0          8         304.0  ...          70     usa              amc rebel sst
4  17.0          8         302.0  ...          70     usa                ford torino

[5 rows x 9 columns]

In [11]:
mpg_data['origin'].describe()

count     398
unique      3
top       usa
freq      249
Name: origin, dtype: object

In [12]:
print('The countries which are origin of the cars in the dataset are: ',mpg_data.origin.unique())

The countries which are origin of the cars in the dataset are:  ['usa' 'japan' 'europe']

**Question 6**

In [13]:
df_belong_to_usa = mpg_data[mpg_data['origin']=='usa']
print(df_belong_to_usa.shape[0])
df_belong_to_usa

249

      mpg  cylinders  ...  origin                       name
0    18.0          8  ...     usa  chevrolet chevelle malibu
1    15.0          8  ...     usa          buick skylark 320
2    18.0          8  ...     usa         plymouth satellite
3    16.0          8  ...     usa              amc rebel sst
4    17.0          8  ...     usa                ford torino
..    ...        ...  ...     ...                        ...
392  27.0          4  ...     usa           chevrolet camaro
393  27.0          4  ...     usa            ford mustang gl
395  32.0          4  ...     usa              dodge rampage
396  28.0          4  ...     usa                ford ranger
397  31.0          4  ...     usa                 chevy s-10

[249 rows x 9 columns]